<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSPProject</display-name>
  
  <!-- mapping -->
  <servlet>
  	<servlet-name>studentServlet</servlet-name>
  	<servlet-class>co.edu.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>studentServlet</servlet-name>
  	<url-pattern>/student/student.do</url-pattern> <!-- .do로 끝나면 *에 어떤 문자가 오더라도 실행됨 -->
  	<!-- /student.do 실행 시 co.edu.Student.Servlet 호출 -->
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>